


@media (max-width: 768px) {
    #intro {
        width: 90% !important;
        padding: 0;
    
    }

}

@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}